/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: "Netflix Sans", sans-serif;
    background-color: rgb(39, 39, 39);
    color: white;

    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.site {
    animation: entradaSite 1.4s cubic-bezier(0.22, 1, 0.36, 1);

}

#entrada {
    position: fixed;
    backdrop-filter: blur(0px);
    inset: 0;

    background: black;

    z-index: 99999;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        opacity 1s ease,
        visibility 1s ease;

    overflow: hidden;
    animation: fundoEntrada 1.5s ease;
}

.entrada-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;

    animation: introEntrada 1.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.entrada-logo {
    width: 180px;

    animation:
        flutuar 3s ease-in-out infinite;
}

.entrada-titulo {
    font-size: 110px;
    color: red;

    font-family: "Bebas Neue", sans-serif;

    animation: respirar 4s ease-in-out infinite;
}

/* quando clicar */

#entrada.sumir .entrada-conteudo {
    animation: zoomSaida 1.1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

#entrada.sumir {
    pointer-events: none;
    backdrop-filter: blur(0px);
}

#entrar {
    width: 260px;
    height: 55px;

    border: none;
    border-radius: 8px;

    background: red;
    color: white;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.4s ease;
}

#entrar:hover {
    transform: scale(1.08);

    background: rgb(255, 40, 40);

    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
}

@keyframes entradaSite {

    0% {
        opacity: 0;
        transform: translateY(35px);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }

}

@keyframes fundoEntrada {

    from {
        background: rgb(10, 10, 10);
    }

    to {
        background: black;
    }

}

@keyframes introEntrada {

    0% {
        opacity: 0;
        transform: translateY(35px) scale(0.96);
        filter: blur(12px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }

}




@keyframes desaparecerTela {

    0% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

/* animação */

@keyframes zoomSaida {

    0% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        transform: scale(1.25);
        opacity: 0;
        filter: blur(12px);
    }

}

@keyframes aparecerSite {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

/* HEADER */

header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: 30px;
    padding: 20px 60px;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 100px;
    height: 100px;

    transition: 0.5s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.marca {
    text-decoration: none;
}

.logo h1 {
    color: rgb(202, 0, 0);

    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;

    animation: respirar 4s ease-in-out infinite;
}

@keyframes respirar {

    0% {
        filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.3));
    }

    50% {
        filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.7));
    }

    100% {
        filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.3));
    }
}

/* MENU */

.menu {
    display: flex;
    align-items: center;
}

.menu nav ul {
    display: flex;
    align-items: center;

    gap: 10px;

    list-style: none;
}

.menu nav ul li {
    position: relative;
}

.menu nav ul li a {
    display: block;

    padding: 15px;

    color: white;
    text-decoration: none;
    font-size: 20px;

    transition: 0.4s ease;
}

.links a:hover {
    color: red;
    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/* DROPDOWN */

.submenu .drop {
    position: absolute;
    top: 100%;
    left: 0;

    min-width: 180px;

    background-color: black;

    display: flex;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;

    transition: 0.5s ease;

    z-index: 999;
}

.submenu:hover .drop {
    max-height: 300px;
}

.submenu .drop a {
    padding: 15px;

    border-bottom: 1px solid red;

    font-size: 17px;
}

/* PESQUISA */

.search {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    margin-top: 20px;
}

input {
    width: min(600px, 80%);
    height: 40px;

    padding: 10px;

    border: none;
    border-radius: 6px;

    background-color: rgb(100, 100, 100);
    color: white;
}

::placeholder {
    color: white;
}



/* HISTORY */

.history {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 40px;
}

.history h1 {
    font-size: 2.5rem;
}

/* ANIMES */

.animes {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;

    margin-top: 40px;
    padding: 20px;
}

/* CARD */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    filter: brightness(80%);
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.05);

    filter:
        brightness(100%) drop-shadow(0 0 0.75rem rgb(100, 100, 100));
}

.card img {
    width: 280px;
    height: 400px;

    border-radius: 8px;
}

.card button {
    width: 140px;
    height: 35px;

    border: none;
    border-radius: 5px;

    background-color: red;
    color: white;

    font-size: 1rem;

    cursor: pointer;
}

/* MINI ANIMES */

.minianimes {
    width: 100%;

    margin-top: 60px;
}

.minianimes h1 {
    text-align: center;

    font-size: 40px;

    margin-bottom: 30px;
}

/* SUB ANIMES */

.subanimes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;

    padding: 20px;
}

/* MINI CARDS */

.minicards {
    transition: 0.5s ease;
}

.minicards:hover {
    transform: scale(1.05);

    filter: drop-shadow(0 0 0.75rem rgb(100, 100, 100));
}

.minicards img {
    width: 180px;
    height: 300px;

    border-radius: 8px;

    filter: brightness(80%);
    transition: 0.5s ease;
}

.minicards img:hover {
    filter: brightness(100%);
}

/* SOBRE */

.sobre {
    width: min(90%, 1100px);

    margin: 40px auto;
    padding: 30px;

    background-color: black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h1 {
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.sobre p {
    text-align: justify;

    line-height: 1.8;
    font-size: 18px;

    max-width: 900px;

    margin-bottom: 20px;
}

/* REDES */

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 25px;

    margin-top: 25px;
}

.redes a {
    display: flex;
    align-items: center;

    gap: 8px;

    color: white;
    text-decoration: none;

    transition: 0.4s;
}

.redes a:hover {
    color: red;

    filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));
}

/* FOOTER */

.footer {
    width: 100%;

    margin-top: 50px;
    padding: 20px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.footer a {
    color: rgb(138, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;

}

.carrossel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 20px;
    scrollbar-width: none;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.dubcard {
    position: relative;
    min-width: 250px;
    width: 250px;
    height: 350px;

    overflow: hidden;
    border-radius: 12px;

    background: black;

    transition: 0.4s ease;
    cursor: pointer;

    flex-shrink: 0;
}

.dubcard:hover {
    transform: scale(1.05);
    z-index: 10;
}

.dubcard img {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;

    transition: opacity 0.4s ease;
}

.som-btn {
    position: absolute;

    top: 12px;
    right: 12px;

    width: 42px;
    height: 42px;

    border: none;
    border-radius: 50%;

    background: rgba(0, 0, 0, 0.7);

    color: white;

    font-size: 18px;

    cursor: pointer;

    z-index: 20;

    opacity: 0;

    transition: 0.3s ease;
}

.dubcard:hover .som-btn {
    opacity: 1;
}

.som-btn:hover {
    background: red;
    transform: scale(1.08);
}

.preview-vimeo {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    border: none;

    object-fit: cover;

    z-index: 2;

    opacity: 0;
    transition: 0.4s ease;

    pointer-events: none;
}

.dubcard:hover .preview-vimeo {
    opacity: 1;
}

.preview {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 2;

    opacity: 0;
    transition: 0.4s ease;
}

.dubcard:hover img {
    opacity: 0;
}

.dubcard:hover .preview-container {
    opacity: 1;
}

.preview-vimeo {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    inset: 0;

    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 20px;

    opacity: 0;

    transition: 0.4s ease;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.85) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0) 70%);
}

.dubcard:hover .overlay {
    opacity: 1;
}

.dubcard:hover .preview {
    opacity: 1;
}



.overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

.overlay p {
    font-size: 14px;
    line-height: 1.5;
    color: rgb(220, 220, 220);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overlay a {
    margin-top: 12px;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
}

.overlay a:hover {
    color: white;
    transform: translateX(5px);
}

.container {
    position: relative;
    display: flex;
    align-items: center;
}

.seta {
    position: absolute;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.seta:hover {
    background-color: red;
    transform: scale(1.1);
}

.esquerda {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.direita {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* MOBILE */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        justify-content: center;

        padding: 20px;
    }

    .logo {
        justify-content: center;
    }

    .logo img {
        display: none;
    }

    .logo h1 {
        font-size: 55px;
        text-align: center;
    }

    .menu {
        width: 100%;
        justify-content: center;
    }

    .menu nav ul {
        flex-direction: column;
        width: 100%;

        gap: 5px;
    }

    .menu nav ul li {
        width: 100%;

        text-align: center;
    }

    .menu nav ul li a {
        font-size: 16px;
    }

    .search {
        flex-direction: column;
    }

    input {
        width: 90%;
    }

    .history h1 {
        font-size: 35px;
        text-align: center;
    }

    .animes {
        gap: 20px;
    }

    .card img {
        width: 200px;
        height: 280px;
    }

    .card button {
        width: 120px;
        height: 32px;

        font-size: 0.9rem;
    }

    .minianimes h1 {
        font-size: 30px;
    }

    .subanimes {
        gap: 15px;
    }

    .minicards img {
        width: 150px;
        height: 240px;
    }

    .sobre {
        padding: 20px;
    }

    .sobre p {
        font-size: 16px;
    }

    .redes {
        flex-direction: column;
    }

    .footer {
        padding: 15px;

        font-size: 15px;
    }
}